@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'monospace', 'sans-serif';
}

:root {
  --main-bg-color: #f4f5f9;
  --sidebar-color: #FFF;
  --sidebar-foot-top-color: #cecece;
  --sidebar-text-color: #707070;
  --sidebar-text-strong-color: #5a5a5a;
}

body {
  overflow-y: hidden;
  background: var(--main-bg-color);
}

.parent-container {
  height: 100vh;
  margin-top: 1.5rem; /* 24px */
}

.random-text {
  display: block;
  margin-top: 50%;
  color: var(--sidebar-text-color);
  text-align: center;
}

.title {
  padding-left: 3.5rem; /* 64px */
  display: inline-block;
  color: var(--sidebar-text-color);
  font-size: 1rem; /* 20px */
  /* background: pink; */
  font-weight: 700;
}